logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

dist
.cache
coverage
*.lcov
build/Release
node_modules/
jspm_packages/
typings/
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history
*.tgz
.next
.yarn-integrity

.env
.env.test

.idea/
.DS_Store
.claude
